.page {
  position: relative;
  margin: 0 0;
}

.overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  opacity: 1;
  background: rgba(63, 63, 63, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 5;
}
.overlay_active {
  display: flex;
}

/* Шапка */
.header {
  position: relative;
  background: var(--Unnamed-Color, #fff);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 375px;
  box-sizing: border-box;
  z-index: 10;
}

.header__inner {
  position: relative;
  padding: 0 15px;
  width: 100%;
  max-width: 1430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 123px;
  box-sizing: border-box;
}

.header__logo {
  width: 70px;
  height: 70px;
}

.menu {
  margin: 0 0;
  padding: 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 45px;
  box-sizing: border-box;
  /* Текст */
  color: #292d32;
  text-align: right;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.menu__link {
  color: #292d32;
  cursor: pointer;
  text-decoration: none;
}

.header__menu {
  margin-left: 60px;
}

.header__search-icon {
  margin-left: 50px;
}

.icons-list {
  margin: 0 0;
  padding: 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  box-sizing: border-box;
}

.header__icons-list {
  margin-left: auto;
}

.icon {
  position: relative;
  height: 49px;
  width: 49px;
  border-radius: 50%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon_type_person {
  position: relative;
}

.hover-box {
  position: absolute;
  left: -80px;
  top: 40px;
  width: 202.5px;
  height: 50px;
  background: transparent;
  z-index: 100;
}

.profile-box {
  left: -9999px;
  opacity: 0;
  position: absolute;
  top: 86px;
  width: 405px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  display: none;
  flex-direction: column;
}

.icon_type_person:hover .profile-box {
  opacity: 1;
  left: -190.5px;
  display: flex;
}

.profile-box__background {
  top: -10px;
  left: 202.5px;
  position: absolute;
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
  flex-shrink: 0;
  border-radius: 2px;
  background: #fff;
  border-top: 3px solid #f9f9f9;
  border-left: 3px solid #f9f9f9;
}

.profile-box__title {
  padding: 30px;
  margin: 0 0;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.profile-box__icon-box {
  height: 49px;
  width: 49px;
  border-radius: 50%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-box__text {
  margin: 0 0;
}

.profile-box__list {
  padding: 0 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  list-style-type: none;
}

.profile-box__item {
  border-bottom: 1px solid #f2f2f2;
  padding: 20px 30px;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.profile-box__item:last-child {
  border-bottom: none;
}

.shopping-bag__quantity {
  width: 16px;
  height: 16px;
  margin: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #48a4eb;
  position: absolute;
  right: 4px;
  top: 0;
  border-radius: 50%;
  color: var(--Unnamed-Color, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Кнопка бургер */
.burger-btn {
  z-index: 30;
  position: relative;
  background: #f9f9f9;
  width: 46px;
  height: 46px;
  display: none;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burger-btn_active .burger-btn__lines {
  background-color: transparent;
}

.burger-btn_active .burger-btn__lines::before {
  top: 0;
  transform: rotate(45deg);
}

.burger-btn_active .burger-btn__lines::after {
  top: 0;
  transform: rotate(-45deg);
}

.burger-btn__lines::before,
.burger-btn__lines::after,
.burger-btn__lines {
  position: absolute;
  display: flex;
  width: 18px;
  height: 1.5px;
  border-radius: 50%;
  background: #292d32;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-btn__lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.burger-btn__lines::before {
  content: "";
  top: -8px;
}

.burger-btn__lines::after {
  content: "";
  top: 8px;
}

/* Первый блок */
.first-screen {
  width: 100%;
  height: 683px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background: var(--Unnamed-Color, #f2f2f2);
}

.first-screen__inner {
  position: relative;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: row;
}

.first-screen__content {
  margin-top: 253px;
  margin-left: 127px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 446px;
}

.first-screen__background-title {
  margin: 0 0;
  position: absolute;
  top: 97px;
  left: 0;
  width: 766.516px;
  height: 201.6px;
  background-image: url(./utils/img/dell.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: 1;
}

.first-screen__swiper-hint {
}

.swiper-hint {
  position: absolute;
  left: 0;
  bottom: 158px;
  display: flex;
  flex-direction: column-reverse;
  z-index: 1;
  width: 25px;
  height: 168px;
  gap: 16.5px;
}

.swiper-hint__text {
  margin: 0 0;
  color: var(--Unnamed-Color, #838383);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  white-space: nowrap;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 10;
  gap: 15px;
}

.title-container__subtitle {
  margin: 0 0;
  max-width: 380px;
  color: var(--Unnamed-Color, #838383);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 133.687%;
}

.title-container__title {
  margin: 0 0;
  width: 100%;
  max-width: 380px;
  color: #292d32;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.first-screen__btn-container {
  margin-top: 60px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}

.btn-container__btn {
  width: 55px;
  height: 55px;
  background-color: #33a9ff;
  background-image: url(./utils/img/btn-icon.svg);
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: none;
}

.btn-container__text {
  margin: 0 0;
  color: #292d32;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* Свайпер */
.first-screen .swiper {
  position: relative;
  width: 557px;
  height: 555px;
  z-index: 1;
  margin-top: 74px;
}

.swiper__image {
  width: 100%;
}

.first-screen .swiper-pagination-bullets {
  position: absolute;
  width: 100%;
  max-width: 69px;
  bottom: 169px;
  left: 506px;
  z-index: 400000;
}

.first-screen .swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  z-index: 40000;
  position: relative;
}

.first-screen .swiper-pagination-bullet-active {
  background: #292d32;
  transform: scale(1.8);
}

.first-screen .swiper-button-next {
  width: 104.5px;
  height: 21px;
}

.first-screen .swiper-button-next::after {
  content: "";
  width: 104.5px;
  height: 21px;
  background-image: url(./utils/img/next-btn.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/* Каталог */
.catalog-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catalog-section__content {
  margin: 164px auto 180px;
  width: 100%;
  max-width: 1430px;
  min-width: 375px;
}

/* Cетка каталога */
.catalog {
  margin: 0 0;
  padding: 0 15px;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 40px 40px;
  grid-template-columns: repeat(3, 1fr);
  /* указывает количество столбцов */
  grid-template-rows: repeat(2, 1fr);
  /* указывает количество строк */
}

/* отдельный элемент каталога */
.catalog-item {
  position: relative;
  width: 100%;
  max-width: 440px;
  height: 371px;
  border-radius: 20px;
  background: var(--Unnamed-Color, #f2f2f2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 40px;
  box-sizing: border-box;
}

/* первый блок каталога с описанием */
.catalog-item_type_description {
  padding: 0 0;
  background: var(--Unnamed-Color, #fff);
  justify-content: flex-start;
}

/* контейнер с заголовком и подзаголовком секции*/
.catalog__title-container {
  flex-direction: column-reverse;
  max-width: 100%;
  gap: 29px;
}

/* контейнер с кнопкой и текстом */
.catalog-item__btn-container {
  margin-top: 46px;
}

.catalog-item__number {
  color: #292d32;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  line-height: 150%;
}

.catalog-item__img {
  position: absolute;
}

.catalog-item__img_type_desktop {
  transform: scaleX(-1);
  width: 95%;
  max-width: 415px;
  bottom: 136px;
  left: 12px;
}
.catalog-item__img_type_pc {
  width: 61%;
  max-width: 267px;
  bottom: 148px;
  left: 115px;
}
.catalog-item__img_type_server {
  width: 77%;
  max-width: 337px;
  bottom: 153px;
  left: 51px;
}
.catalog-item__img_type_emc {
  width: 66%;
  max-width: 289px;
  bottom: 153px;
  left: 75px;
}
.catalog-item__img_type_emc-parts {
  width: 73%;
  max-width: 323px;
  bottom: 120px;
  left: 87px;
}

.catalog-item__title-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.catalog-item__subtitle {
  margin: 0 0;
  color: var(--Unnamed-Color, #838383);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 133.687%;
}

.catalog-item__title {
  margin: 0 0;
  color: #292d32;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* секция преимущества */
.advantages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* блоки преимуществ */
.advantages-blocks {
  margin: 0 0;
  padding: 0 0;
  width: 100%;
  max-width: 1401px;
  display: grid;
  gap: 27px;
  grid-template-columns: repeat(4, 1fr);
  /* указывает количество столбцов */
  grid-template-rows: 289px;
}

/* стили одного блока */
.advantages-block {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px 15px 35px 30px;
  background: #292d32;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* svg бэкграунда */
.advantages-block__background-img {
  position: absolute;
  top: 0;
  right: 0;
}

.advantages-block__image {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: #343a41;
}

.advantages-block__title {
  margin: 25px 0 0;
  color: #fff;
  font-family: Euclid Circular A;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.advantages-block__subtitle {
  margin: 13px 0 0;
  color: #b7b7b7;
  font-family: Euclid Circular A;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* Блок новостей */

.section-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.section-news__inner {
  width: 100%;
  max-width: 1400px;
}

.news {
  margin: 0 0;
  width: 100%;
}

.news__list {
  margin: 69px 0 0;
  list-style-type: none;
  padding: 0 0;
  display: grid;
  gap: 40px 65px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 364px 364px;
}

.news__item {
}

.news-item {
  width: 100%;
  max-width: 415px;
  position: relative;
  background-color: #fff;
  filter: drop-shadow(0px 40px 80px rgba(0, 0, 0, 0.05));
  border-radius: 0px 0px 45px 0px;
}

.news-item__img {
  border-radius: 45px 0px 0px 0px;
  width: 100%;
}

.news-item__wrapper {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  bottom: 0;
  left: 0;
  background-image: url(./utils/img/wrapper.svg);
  padding: 24px 20px 26px 30px;
}

.news-item__title {
  margin: 0 0;
  width: 100%;
  max-width: 268px;
  color: #292d32;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.news-item__subtitle {
  margin: 11px 0 0;
  color: #292d32;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.news-item__button {
  position: absolute;
  bottom: 64px;
  right: 13px;
  padding: 0 0;
  width: 94px;
  height: 67px;
  border: none;
  background: none;
  background-image: url(./utils/img/btn-img.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  color: var(--Unnamed-Color, #fff);
  font-family: Circe;
  font-size: 18.743px;
  font-style: normal;
  font-weight: 700;
  line-height: 35.143px;
}

.news-item__date {
  position: absolute;
  top: 65px;
  right: -25px;
  width: 50px;
  height: 97px;
  border-radius: 15px;
  background: #fff;
  box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news-item__day {
  margin: 0 0;
  color: #292d32;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.news-item__month {
  margin: 0 0;
  margin-top: 10px;
  color: #292d32;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.form-wrapper {
  position: relative;
  width: 100%;
  background-color: #eeeeee;
  height: 676px;
  margin-top: -496px;
  z-index: -1;
}

.form-wrapper__background {
  width: 1635px;
  position: absolute;
  top: 184px;
  left: 0;
  font-family: Rubik One;
  font-size: 255px;
  font-style: normal;
  font-weight: 400;
  line-height: 92.687%;
  text-transform: uppercase;
  opacity: 0.6;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.85) 11.75%,
    rgba(255, 255, 255, 0) 162.35%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* стили формы */
.contacts-form {
  margin-top: 180px;
  width: 100%;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.contacts-form__inner {
  width: 100%;
  max-width: 1440px;
  height: 842px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contacts {
  position: relative;
  padding: 100px 100px 0;
  border-radius: 20px 0px 0px 20px;
  width: 100%;
  max-width: 700px;
  background: #f9f9f9;
  box-sizing: border-box;
}

.contacts-form__img {
  position: absolute;
  top: 142;
  right: -100px;
  width: 286px;
  height: 564.133px;
}

.contacts__inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.contacts__title {
  margin: 0 0;
  color: #292d32;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.contacts__subtitle {
  margin: 0 0;
  margin-top: 18px;
  color: #838383;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contacts__list {
  margin: 0 0;
  list-style-type: none;
  margin-top: 48px;
  padding: 0 0;
}

.contacts__item {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.contacts__location {
}

.contacts__email {
  margin-top: 47px;
}

.contacts__telephone {
  margin-top: 72px;
}

.contact__title {
  margin: 0 0;
  margin-top: 5px;
  color: #838383;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.687%;
}

.contact__text {
  width: 100%;
  max-width: 358px;
  margin: 0 0;
  margin-top: 8px;
  color: #292d32;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.contact__telephone-text {
  max-width: 205px;
}

.contacts__socials {
  margin-top: 60px;
}

/* форма */
.form-container {
  width: 100%;
  max-width: 700px;
  border-radius: 0px 20px 20px 0px;
  background: #292d32;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 100px 0 0;
}

.form {
  width: 100%;
  max-width: 436px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.form__title {
  margin: 0 0;
  color: #fff;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.form__subtitle {
  margin: 0 0;
  margin-top: 18px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.form__list {
  list-style-type: none;
  padding: 0 0;
  width: 100%;
  margin: 66px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__item {
  margin-top: 53px;
  position: relative;
  width: 100%;
}

.form__item:first-child {
  margin-top: 0;
}

.form__label {
  position: absolute;
  padding: 0 5px;
  left: 23px;
  top: -12px;
  color: #f2f2f2;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  background: #292d32;
}

.input {
  box-sizing: border-box;
  padding: 0 15px;
  width: 100%;
  background-color: transparent;
  border: 1.5px solid rgba(242, 242, 242, 0.5);
  border-radius: 20px;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.input__name {
  height: 61px;
}

.input__telephone {
  height: 61px;
}

.input__comment {
  padding: 15px 15px;
  height: 147px;
}

.form-container__btn-container {
  margin-top: 53px;
}

.form-container__btn-container .btn-container__text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/* подвал */
.footer {
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 438px;
}

.footer__inner {
  position: relative;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
}

.footer__background {
  position: absolute;
  top: 133px;
  right: -285px;
  font-family: Rubik One;
  font-size: 187px;
  font-style: normal;
  font-weight: 400;
  line-height: 92.687%;
  text-transform: uppercase;
  opacity: 0.7;
  background: linear-gradient(180deg, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer_top {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 60px 0;
  border-bottom: 1px solid #e5e5e5;
}

.footer__logo {
  margin: 29px 0 0;
}

.footer__navigation {
}

.footer__categories {
  list-style-type: none;
  padding: 0 0;
  margin: 0 0;
  margin-left: 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 908px;
}

.footer__category {
  margin: 0 190px 0 0;
}

.category {
  display: flex;
  flex-direction: column;
}

.category__title {
  margin: 0 0;
  white-space: nowrap;
  color: #292d32;
  text-align: left;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.category__list {
  padding: 0 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.category__item {
  white-space: nowrap;
  margin-top: 10px;
  color: #292d32;
  text-align: left;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.category__item:first-child {
  margin-top: 15px;
}

.footer__bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 139px;
}

.footer-contacts {
  padding: 0 0;
  width: 100%;
  margin: 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.footer-contact__title {
  margin: 0 0;
  color: #838383;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.687%;
}

.footer-contact__text {
  margin: 0 0;
  margin-top: 11px;
  color: #292d32;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer__socials {
}

@media screen and (max-width: 1240px) {
  /* Cетка каталога */
  .catalog {
    grid-template-columns: repeat(2, 1fr);
    /* указывает количество столбцов */
    grid-template-rows: repeat(3, 1fr);
    /* указывает количество строк */
  }

  /* отдельный элемент каталога */
  .catalog-item {
    max-width: 100%;
  }
}

@media screen and (max-width: 1075px) {
  .header__search-icon {
    margin-left: auto;
  }

  .icons-list {
    margin-left: 30px;
  }

  /* Кнопка бургер */
  .burger-btn {
    display: flex;
    opacity: 1;
  }

  .burger-menu {
    opacity: 0;
    padding: 56px 38px 64px;
    width: 100%;
    margin: 0 0;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    top: 123px;
    right: 0;
    background: #fff;
  }

  .burger-menu_active {
    display: flex;
    opacity: 1;
  }

  .overlay {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    opacity: 1;
    background: rgba(63, 63, 63, 0.5);
    height: 100vh;
    width: 100vw;
    z-index: 5;
  }
  .overlay_active {
    display: flex;
  }
}
@media screen and (max-width: 767px) {
  .header__inner {
    height: 90px;
  }

  .icon_type_person:hover .profile-box {
    left: -9999px;
    opacity: 0;
  }

  .burger-menu {
    top: 90px;
  }

  .header__logo {
    width: 60px;
    height: 60px;
  }

  .icon {
    height: 46px;
    width: 46px;
  }

  /* некоторые иконки исчезают */
  .icon_type_signal {
    display: none;
    opacity: 0;
  }

  .icon_type_liked {
    display: none;
    opacity: 0;
  }

  .icons-list {
    gap: 15px;
  }

  /* Cетка каталога */
  .catalog {
    grid-template-columns: repeat(1, 1fr);
    /* указывает количество столбцов */
    grid-template-rows: auto;
    /* указывает количество строк */
  }

  /* отдельный элемент каталога */
  .catalog-item {
    max-width: 440px;
  }
}

@media screen and (max-width: 450px) {

  .title-container__subtitle {
    font-size: 15px;
    line-height: 150%;
  }

  .catalog .title-container__title {
    font-size: 30px;
    max-width: 249px;
  }

  .first-screen__btn-container {
    margin-top: 60px;
  }

  .btn-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
  }

  .btn-container__btn {
    width: 45px;
    height: 45px;
  }

  .btn-container__text {
    font-size: 15px;
  }

  /* отдельный элемент каталога */
  .catalog {
    gap: 20px;
  }

  .catalog-item {
    height: 290px;
    border-radius: 10px;
    padding: 20px 20px;
  }

  .catalog-item_type_description {
    justify-content: flex-end;
    padding: 0 0 20px;
  }


  /* контейнер с заголовком и подзаголовком секции*/
  .catalog__title-container {
    gap: 20px;
  }

  /* контейнер с кнопкой и текстом */
  .catalog-item__btn-container {
    margin-top: 30px;
  }

  .catalog-item__number {
    font-size: 20px;
  }

  .catalog-item__title-container {
    gap: 0;
  }

  .catalog-item__subtitle {
    font-size: 15px;
  }

  .catalog-item__title {
    font-size: 20px;
  }

  .catalog-item__img_type_desktop {
    width: 87.5%;
    bottom: 82px;
    left: 21px;
  }

  .catalog-item__img_type_pc {
    bottom: 88px;
    left: 99px;
  }

  .catalog-item__img_type_server {
    bottom: 120px;
    left: 40px;
  }
  .catalog-item__img_type_emc {
    bottom: 100px;
    left: 59px;
  }

  .catalog-item__img_type_emc-parts {
    bottom: 94px;
    left: 68px;
  }
}
